!!!
%html
  %head
    %title Phenomena
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
   
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand Phenomena
          %ul.nav
            %li.active= link_to 'Компании', "#" 
            %li= link_to 'Бренды', '#'
            %li= link_to 'Кампании', '#'
          
          %ul.nav.pull-right
            %li= link_to 'Настройки', '#'
            
    .container
      .content
        = yield